
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed');

.App {
  text-align: center;
}

.parent{
  /* border:solid red; */
  width: 85%;
  height: 700px;
  margin-left: 8%;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 50px; */
}
/*  #FF847C*/
.categories{
  border:solid #FECEA8;
  width: 360px;
  height: 300px;
  margin-top: 50px;
  border-radius: 10px;
}
.categories:nth-child(n+1){
  margin-left: 30px;
}
/*  colors for welcomescreen => #ce753d, #d3865c, #e58e5c*/
#headContainer{
  background: url('./Images/Background1.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
/*  font=family font-family: 'Stint Ultra Condensed', cursive;  'Kumar One Outline', cursive;*/
#mainHead{
  font-family: 'Kumar One Outline', cursive;;
  font-size: 90px;
  margin-top: 15%;
  color: red;
}
.enter{
  width: 90px;
  height: 50px;
  font-size: 16px;
  border-radius: 40px;
  position: relative;
  right: 120px;
  bottom: 70px;
  color:white;
  background-color:#d3865c;
}
.ProfileImg{
  margin-top: 10%;
  margin-left: 50px;
  opacity: 0.7;
}
/*  Categories page*/
.coverImgs{
  width: 360px;
  height: 300px;
}
.titleHead{
  font-family: 'Stint Ultra Condensed';
  position: relative;
  bottom: 65%;
  font-size: 40px;
  color:White ;
}
.container{
  background: url('./Images/Background3.jpg');
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
